


td{
    padding: 10px 0px;
}

input{
    margin: 3px;
}

footer{
    text-align: center;
    margin-top: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
   
}

body{
    margin-top: 20px;
}
